$accordion-font-family: "Helvetica Neue", sans-serif;

.accordion {
  &__main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    background: #eee;
    color: #444;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    padding: 20px;
  }

  &__title:hover,
  .active {
    background: #ccc;
  }

  &__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  .rotate {
    transform: rotate(90deg);
  }

  &__content {
    background: #fff;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px; /* you can use % */
    height: auto;
  }

  &__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
  }

  &__tag {
    font-weight: 400;
    font-size: 20px;
    padding: 18px;
    margin-top: 15px;
    color: #111;
    font-family: $accordion-font-family;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 20px;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
    color: #111;
    font-family: $accordion-font-family;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 20px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    padding: 18px;
    color: #111;
    font-family: $accordion-font-family;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 20px;
  }
}

.arrow-wrapper {
  padding-left: 20px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  margin-left: auto;
  transition: transform 0.6s ease;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  margin-left: auto;
  transition: transform 0.6s ease;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
