.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;

  &__item {
    flex: 1 0 24rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 20px;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: contain;
    transition: transform 400ms ease-out;

    :hover {
      transform: scale(1.15);
    }
  }
  &__title {
    height: 100%;
  }
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
