*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.spacing {
  padding: 0 20px;
}

.page-title {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 40px;
  background: #6e696a;
}

.navbar {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding: 20px;
  background: #6e696a;
  display: flex;
  justify-content: center;

  &__animation {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #111;

    :visited {
      color: #111;
      text-decoration: none;
    }
  }

  &__animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: #111;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &__animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.button {
  box-sizing: border-box;
  appearance: none;
  background-color: #111;
  cursor: pointer;
  display: flex;
  align-self: center;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  border-color: #111;
  color: #fff;
  margin: 20px auto;
  background: {
    image: linear-gradient(45deg, darkgrey 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 0;
  }
}
